<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>同线路交通出行性价比系统</title>
</head>
<body>

</body>

<body>
    <div style="position: absolute; width: 100%; height: 100%">

        <div id="head" style="width: 100%; height: 10%; position:relative; background: #3E87E3; vertical-align:middle">
            <h1 style="font-style: italic;font-weight:bolder;text-align:center;margin: auto;;padding: 20px;">同线路交通出行性价比系统</h1>
            <div>
                <a href="{%  url 'mobile_index' %}"><button style="font-size: large">返回</button></a>
            </div>
        </div>

        <h1>输入错误，请重新输入</h1>



    </div>
</body>
</html>