<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地铁路径规划</title>
</head>
<body>
    <div style="position: absolute; width: 100%; height: 100%">

        <div id="head" style="width: 100%; height: 10%; position:relative; background: #3E87E3; vertical-align:middle">
            <h1 style="font-style: italic;font-weight:bolder;text-align:center;margin: auto;;padding: 20px">地铁路径规划</h1>
            <div>
                <a href="{%  url 'mobile_index' %}"><button style="font-size: large">返回</button></a>
            </div>
        </div>
        <div id="content" style="text-align: center;background-color: lightgrey;padding: 20px;height: 90%;position:relative;">
            <table style="border-collapse:collapse" border="1" cellpadding="10" cellspacing="5" align="center">

                <tr>
                    <td>地铁路径规划</td>
                    <td>总距离（米）</td>
                    <td>总耗时（分钟）</td>
                </tr>
                <tr>
                    {% for i in subway_dic.values %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>

            </table>
        </div>

    </div>
</body>
</html>